{% extends "base.html" %}

{% block content %}
        <form class="form-inline" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mx-sm-3 mb-2">
                <input type="file" class="form-control-file" id="image" name="image"/>
            </div>
            <button type="submit" class="btn btn-primary mb-2"> Upload File</button>
        </form>

        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="{{ uploaded_file_url }}">
                        <img alt="picture" src="{{ uploaded_file_url }}" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="data:image/png;base64, {{ img_src }}">
                        <img alt="picture" src="data:image/png;base64, {{ img_src }}" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
{% endblock %}
